<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/centre.css">
</head>
<body>
    <section class="post" id="post">

    <div class="container min-vh-100">

        <h1 class="heading"><span></span> Our centers <span></span></h1>

        <div class="box-container">

            <div class="box" >
                <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202008/tea_0.jpeg?ndJOhaA2O6_kIEP_RkQU9F3hcjUuT9i9&size=770:433" alt="">
                <div class="content">
                    <span> Chandigarh Sector 21</span>
                    
                    <p></p>
                    <a href="#" target="_blank"><button class="button">Apply Now</button></a>
                </div>
            </div>

            <div class="box">
                <img src="https://economictimes.indiatimes.com/thumb/msid-78658752,width-1200,height-900,resizemode-4,imgsize-206065/coaching-institute.jpg?from=mdr" alt="">
                <div class="content">
                    <span> Chandigarh Sector 70</span>
                   
                    <p> </p>
                    <a href="#" target="_blank"><button class="button">Apply Now</button></a>
                </div>
            </div>

            <div class="box" >
                <img src="https://d2nlyei8v64kfj.cloudfront.net/uploads/c/2017/3/c-resonance-coaching-institute-kota-2350.jpg" alt="">
                <div class="content">
                    <span>Chandigarh Sector 54</span>
                    
                    <p> </p>
                    <a href="#" target="_blank"><button class="button">Apply Now</button></a>
                </div>
            </div>

        </div>

    </div>

</section>
</body>
</html>

