<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <section id="blogpage-container">
      <div class="blogs blogpost">
        <div class="post">
          <img
            src="https://images.pexels.com/photos/6238037/pexels-photo-6238037.jpeg?cs=srgb&dl=pexels-monstera-6238037.jpg&fm=jpg"
            alt=""
          />
          <h3 >Learn Web Development In the easiest Way</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis,
            quaerat. Quisquam reprehenderit voluptatum fugiat eius quos,
            suscipit architecto tempore perspiciatis delectus aut nemo
            dignissimos voluptas molestiae? Obcaecati natus provident in tenetur
            facilis optio quis minima, expedita iusto, fugit aspernatur magni
            fuga maiores laborum corporis eveniet qui veniam deserunt rerum vero
            libero. Voluptas qui ex, odit sunt ipsa odio doloribus accusantium
            amet, iste optio aspernatur, temporibus blanditiis itaque molestias
            eveniet cumque.
            <br />
            <br />
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga nemo
            corporis labore porro, nesciunt, beatae nisi expedita quam itaque
            eum veniam modi. Velit sequi recusandae quod aperiam odio reiciendis
            omnis minus facilis sint delectus. <br />
            <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            aut eius facilis veritatis eum illum eligendi nihil totam
            accusantium, consequuntur quisquam expedita quis obcaecati,
            aspernatur odio? Nulla delectus, similique quis fugit alias minima
            temporibus! <br />
            <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            inventore officiis iste unde voluptatum ratione perspiciatis ab
            rerum voluptas corrupti. Cum mollitia soluta animi deleniti?
            Assumenda pariatur tempore at modi sunt ipsa, a libero asperiores
            inventore blanditiis, doloremque dolorem aspernatur eligendi quos
            omnis voluptatibus itaque? Illo in soluta cupiditate, laudantium
            doloremque dicta ullam accusamus quaerat. Maiores id delectus,
            aspernatur eius nisi quod autem! Quam atque fugiat sed?

            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            tempore omnis magni facere temporibus, cumque veniam in et expedita.
            Accusamus voluptatibus voluptatem in animi doloribus tempora iste
            sequi non illum blanditiis, laudantium eius? Voluptates sit rerum
            accusantium magnam libero unde, quidem ipsa autem nulla sapiente
            corporis. Veritatis deleniti culpa mollitia cumque, architecto ipsam
            praesentium assumenda. Magni, ullam repellendus hic ratione
            perspiciatis atque nemo facilis illo aut dolore dicta quidem
            quisquam enim quaerat id perferendis iste architecto quia dolores,
            sit cumque, odio mollitia deserunt. Blanditiis magni voluptas et eum
            accusantium, fugit rerum error nulla provident reiciendis,
            praesentium voluptatem possimus laudantium veritatis.

            <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dicta
            sed praesentium libero iste quod, beatae quas sunt dolorem molestiae
            accusamus fuga totam suscipit aliquid aut voluptatem quia sit
            dignissimos error quos quam fugiat? Ipsa, earum, eos sequi vero
            libero, voluptas amet esse quaerat omnis fuga ipsam! Dolore
            reprehenderit quasi sint beatae rem ratione esse quod nisi nulla
            doloremque optio fugit quisquam veritatis dicta, dolorem impedit
            facilis obcaecati, voluptatum quis quas debitis. Error provident
            libero mollitia voluptatibus tempora excepturi quos aperiam? Iure
            maiores illo labore ea commodi eos distinctio facilis? Similique
            eveniet consectetur incidunt ipsum, doloribus voluptatem, provident
            recusandae quo laudantium, necessitatibus soluta? Consequuntur
            numquam cupiditate error maiores laudantium suscipit minima, sed
            quaerat ipsum sequi eos, iure, voluptates molestiae voluptatem
            dolorum omnis et laborum vero facere deleniti illum! Voluptas,
            sapiente reprehenderit alias voluptatem quasi ea hic, molestiae
            earum error, quaerat officia rem aliquid distinctio? Sequi eius
            accusamus eaque maiores veritatis amet quaerat! Natus dicta enim
            quisquam molestiae tenetur rerum optio quidem, illo ipsam voluptas
            necessitatibus eaque totam. Aspernatur, rerum. Molestiae, laudantium
            officiis? Veritatis, commodi aut culpa officia veniam mollitia
            assumenda natus at dolorem quas cumque, earum libero numquam magnam!
            Molestias, tempore aut. Facere temporibus itaque earum incidunt, vel
            expedita asperiores.
          </p>
          <a href="/blogpage">Read Next..</a>
        </div>
      </div>
    </section>
  </body>
</html>
