<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="terms.css">
    <title>Terms and Conditions</title>
    <body style = "background-color:#c5ddf2">
</head>

<body class="terms">
    <div class="bg">
      <h1>abs coaching</h1>
      <hr>
    <div class="terms-box">
        <div class="terms-text">
            <h2>Terms And Conditions</h2>
            <hr>
            <b>Last Edit:29/06/2022</p></b>
            <b><p>Greetings User</p></b>
            <h3><b><p style="color:rgb(43, 42, 42) ;">Copyright and Trademark Notice:</p></b></h3>
            <p>
                  1.© 2019 ALLEN Career Institute Pvt. Ltd. <br>
                  <br>
                  2. ALLEN Career Institute Pvt. Ltd. ®, ALLEN ® and all other logos appearing on our website bearing the ® symbol are registered trademarks under the Indian Trademark Act, 1999. <br>
                  <br>
                  3. Subject to the express provisions of this notice: <br>
                  <br>
                  4. We own and control all the copyright and other intellectual property rights (including all logos bearing the ® trademark symbol) along with all other material appearing on our website; and <br>
                  <br>
                  5. All the copyright and other intellectual property rights in our website and the material on our website are reserved. <br>
                  <br>
                 <b><p style="color:rgb(43, 42, 42) ;"> Copyright License:</p></b>
                  You may: <br>
                  <br>
                  1. View pages from our website on a web browser; <br>
                  <br>
                  2. Download pages from our website for caching in a web browser; <br>
                  <br>
                  3. Print pages from our website; <br>
                  <br>
                  4. Stream audio/video files from our website; and <br>
                  <br>
                  5. Use our website services by means of a web browser; subject to the other provisions of this notice. <br>
                  <br>
                  6. Except as expressly permitted by the other provisions of this notice, you must not download any material from our website or save any such material on your device. <br>
                  <br>
                  7. Except as expressly permitted by this notice, you must not edit or otherwise modify any material on our website. <br>
                  <br>
                  You must not: <br>
                  <br>
                  1. Republish material from our website (including republication on another website); <br>
                  <br>
                  2. Sell, rent or sub-license material from our website; <br>
                  <br>
                  3. Show any material from our website in public; <br>
                  <br>
                  4. Exploit material from our website for a commercial purpose; or <br>
                  <br>
                  5. Redistribute material from our website, save to the extent expressly permitted by this notice. <br>
                  <br>
                  <b><p style="color:rgb(43, 42, 42) ;">Acceptable Use:</p></b> 
                  You must not: <br>
                  <br> 
                  1. Use our website in any way or take any action that causes, or may cause, damage to the website or impairment of the performance, availability or accessibility of the website; <br>
                  <br>
                  2. Use our website in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity; <br>
                  <br>
                  3. Use our website to copy, host, store, transmit, send, use, publish, or distribute any material which consists of (or is linked to) any spyware, computer virus, or other malicious computer software (malware). <br>
                  <br>
                  4. Conduct any systematic or automated data collection activities, including data mining, data harvesting, data extraction on our website, or in relation to it, without our prior & express written consent. <br>
                  <br>
                  <b><p style="color:rgb(43, 42, 42) ;"> Report Abuse:</p></b> 
                  If you learn about any unlawful material or activity on our website, or any material or activity that breaches our terms of use, please let us know. <br>
                  <br>
                  <b><p style="color:rgb(43, 42, 42) ;">Enforcement of Propriety Rights:</p></b> 
                  We take the protection of our copyright and registered trademarks very seriously. <br>
                  <br>
                  If we discover that you have used our protected material/likeness/logos in contravention of these terms of use, we may initiate legal proceedings against you, including civil action and/or criminal prosecution, the entire legal costs and expenses of which, shall be borne by you.</p> <br>
                   <br>
                   <br>

       <h4>I Agree To The <span> Terms And Conditions</span> And I Read The Privacy Notice</h4>
       <div class="buttons">
           <button class="btn red-btn">Accept</button>
           <button class="btn gray-btn">Decline</button>
       </div>

            </div>
    </div>
</body>

</html>