<section class="about-us">
      <div class="container">
        <div class="left-section">
          <h2 class="heading">
            Know About
            <span>ABC</span>
          </h2>

          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia
            quos ea at odio rem eaque qui quod necessitatibus saepe nulla
            ducimus, aliquam, aspernatur atque quisquam quam quae explicabo
            reiciendis consequatur natus eligendi ipsum? Iste quae minima,
            libero amet nemo odio itaque, necessitatibus esse corrupti delectus
            dignissimos perspiciatis id! Tempora saepe animi pariatur sit libero
            vero quibusdam, perferendis quos similique mollitia error,
            laboriosam eum, nihil quasi facilis assumenda officiis. Vel non
            aliquam sint possimus labore dolore iure vero vitae atque debitis,
            distinctio nihil magnam commodi corporis quia neque repellendus sunt
            hic esse tempora provident pariatur consectetur at recusandae. Ullam
            provident maiores aliquam libero pariatur, assumenda voluptatem
            necessitatibus, sit animi, dolores dolor?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi
            expedita cum tempore delectus voluptate labore porro hic odit quam.
            Natus doloribus, alias veniam, sunt soluta magnam ullam eligendi
            illum dolore fuga velit neque consectetur atque! Doloremque ullam ea
            pariatur reiciendis sit provident alias dolorum eligendi.
          </p>
        </div>
    
      <div class="right-section">
        <div class="two-block">
          <div class="counter-box">
            <div class="icon">
              <img
                src="https://allenwebsite-general.s3.ap-south-1.amazonaws.com/allen-website/allen-new/about-icon01.png"
                alt=""
              />
            </div>
            <div class="cnt">
              <h2>25 Lac+</h2>
              <p>
                Trusted Chosen in all modes by Students across
                <br />
                (Since 1988)
              </p>
            </div>
          </div>
          <div class="counter-box light">
            <div class="icon">
              <img
                src="https://allenwebsite-general.s3.ap-south-1.amazonaws.com/allen-website/allen-new/about-icon02.png"
                alt=""
              />
            </div>
            <div class="cnt">
              <h2>25 Lac+</h2>
              <p>
                Students studying online & classroom courses
                <br />
                (2021-2022)
              </p>
            </div>
          </div>
        </div>
        <div class="two-block three">
           
                <div class="counter-box">
                    <div class="icon">
                      <img
                        src="https://allenwebsite-general.s3.ap-south-1.amazonaws.com/allen-website/allen-new/about-icon03.png"
                        alt=""
                      />
                    </div>
                    <div class="cnt">
                      <h2>42</h2>
                      <p>
                        Study Centers
                      </p>
                    </div>
                  </div>
                  <div class="counter-box">
                    <div class="icon">
                      <img
                        src="https://allenwebsite-general.s3.ap-south-1.amazonaws.com/allen-website/allen-new/about-icon04.png"
                        alt=""
                      />
                    </div>
                    <div class="cnt">
                      <h2>130 Lac+</h2>
                      <p>
                       Classroom Campus
                      </p>
                    </div>
                  </div>
                  <div class="counter-box">
                    <div class="icon">
                      <img
                        src="https://allenwebsite-general.s3.ap-south-1.amazonaws.com/allen-website/allen-new/about-icon05.png"
                        alt=""
                      />
                    </div>
                    <div class="cnt">
                      <h2>165 Lac+</h2>
                      <p>
                        Test Centers
                      </p>
                    </div>
                  </div>
            
        </div>
      </div>
    </div>
    </section>