 <div class="slider-container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            <div class="swiper-slide"></div>
            
            </div>
        </div>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action heading">Announcements <i class="bi bi-megaphone"></i></a>
          
          
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary indi"><i class="bi bi-chevron-double-right"></i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorem excepturi modi quis.</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary indi"><i class="bi bi-chevron-double-right"></i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorem exceplendus assumenda aperiam.</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary indi"><i class="bi bi-chevron-double-right"></i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorem exceptlendus assumenda aperiam.</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary indi"><i class="bi bi-chevron-double-right"></i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. assumenda aperiam.</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary indi"><i class="bi bi-chevron-double-right"></i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil dolorem excepturi modi quis.</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-primary indi"><i class="bi bi-chevron-double-right"></i>Lorem ipsum, dolor sit amet consectetur adipisicing e.</a>
          </div>
    </div>