<section class="categories">
    <div class="container categories_container">
        <div class="categories_left">
            <h1>CATEGORIES</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aspernatur corrupti id, eligendi praesentium eos animi dolorem sint. 
                Numquam voluptatem ipsum, alias saepe, tenetur asperiores eligendi cumque, sapiente animi placeat consequuntur.
            </p>
            <a href="#" class="btn">Learn more</a>
        </div>
        <div class="categories_right">
            <div class="category">
                <div class="image">
                    <img src="/img/course.jpeg" alt="">
                </div>
                <div class="title">
                    <h3>Title</h3>
                </div>
                <div class="des">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                       
                    </p>
                    <button class="btn">Apply</button>
                </div>
            </div>
            <div class="category">
                <div class="image">
                    <img src="/img/course.jpeg" alt="">
                </div>
                <div class="title">
                    <h3>Title</h3>
                </div>
                <div class="des">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                       
                    </p>
                    <button class="btn">Apply</button>
                </div>
            </div>
            <div class="category">
                <div class="image">
                    <img src="/img/course.jpeg" alt="">
                </div>
                <div class="title">
                    <h3>Title</h3>
                </div>
                <div class="des">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                      
                    </p>
                    <button class="btn">Apply</button>
                </div>
            </div>
            <div class="category">
                <div class="image">
                    <img src="/img/course.jpeg" alt="">
                </div>
                <div class="title">
                    <h3>Title</h3>
                </div>
                <div class="des">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    </p>
                    <button class="btn">Apply</button>
                </div>
            </div>
            <div class="category">
                <div class="image">
                    <img src="/img/course.jpeg" alt="">
                </div>
                <div class="title">
                    <h3>Title</h3>
                </div>
                <div class="des">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                    <button class="btn">Apply</button>
                </div>
            </div>
            <div class="category">
                <div class="image">
                    <img src="/img/course.jpeg" alt="">
                </div>
                <div class="title">
                    <h3>Title</h3>
                </div>
                <div class="des">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                    <button class="btn">Apply</button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="test" style="background-color: rgb(255, 153, 0); height: 89px;">

</div>