<nav>
    <div class="container nav_container">
        <a href="index"><h3>Allen</h3></a>
      <ul class="nav_menu">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact-us">Contact</a></li>
      </ul>
      <button id="open-menu-btn"><i class="bi bi-list"></i></button>
      <button id="close-menu-btn"><i class="bi bi-x"></i></button>
    </div>
</nav>



<div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/img/course.jpeg" alt=""></div>
        <div class="swiper-slide"><img src="/img/img2.jpg" alt=""></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
</div>