<nav>
    <div class="nav_container">
        <a href="/"><h3>ALLEN</h3></a>
      <ul class="nav_menu">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#testimonials">Testimonials</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact-us">Contact</a></li>
      </ul>
      <button id="open-menu-btn"><i class="bi bi-list"></i></button>
      <button id="close-menu-btn"><i class="bi bi-x"></i></button>
    </div>
</nav>


 <!-- - #HOME SECTION-->

      <section class="home" id="home">

        <div class="deco-shape shape-1">
          <img src="/img/shape-1.png" alt="art shape" width="70">
        </div>
        <div class="deco-shape shape-2">
          <img src="/img/shape-2.png" alt="art shape" width="55">
        </div>
        <div class="deco-shape shape-3">
          <img src="/img/shape-3.png" alt="art shape" width="120">
        </div>
        <div class="deco-shape shape-4">
          <img src="/img/shape-4.png" alt="art shape" width="30">
        </div>

        <div class="home-left">

          <p class="section-subtitle">Welcome To ABC Coaching</p>

          <h1 class="main-heading">
            Get Class From Top
            <span class="underline-img">Instructor <img src="/img/banner-line.png" alt="line"></span>
          </h1>

          <p class="section-text">
            Integer in magna in est ultrices bibendum eget enim et dui imperdiet faucibus. Fusce eu tristique felis.
          </p>

          <div class="home-btn-group">
            <button class="btn btn-primary">
              <p class="btn-text">Explore Courses</p>
              <span class="square"></span>
            </button>

            <button class="btn btn-secondary">
              <p class="btn-text">Contact Us</p>
              <span class="square"></span>
            </button>
          </div>

        </div>

        <div class="home-right">

          <div class="img-box">

            <img src="/img/banner-img-bg.png" alt="colorful background shape" class="background-shape">
            <img src="/img/banner-img.png" alt="banner image" class="banner-img">

            <img src="/img/banner-aliment-icon-1.png" alt="" class="icon-1 smooth-zigzag-anim-1" width="250">
            <img src="/img/banner-aliment-icon-2.png" alt="" class="icon-2 smooth-zigzag-anim-2" width="240">
            {{!-- <img src="/img/banner-aliment-icon-3.png" alt="" class="icon-3 smooth-zigzag-anim-3" width="195"> --}}
            <img src="/img/banner-aliment-icon-4.png" alt="" class="icon-4 drop-anim">

          </div>

        </div>

      </section>
{{!-- <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/img/course.jpeg" alt=""></div>
        <div class="swiper-slide"><img src="/img/img2.jpg" alt=""></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
</div> --}}