
<nav>
    <div class="nav_container">
        <a href="/"><h1>Y<span>B</span></h1></a>
      <ul class="nav_menu">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/Courses">Courses</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/centre">Centres</a></li>
        <li><a href="/blogpage">Blog</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Login
        </button></li>
      </ul>
      <button type="button" class="btn btn-primary outer-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Login
        </button>
      <button id="open-menu-btn"><i class="bi bi-list"></i></button>
      <button id="close-menu-btn"><i class="bi bi-x"></i></button>
    </div>
</nav>