 <div class="hero">
        <h1>Testimonial</h1>
        <div class="test-container">
            <div class="indicator">
                <span class="btun active"></span>
                <span class="btun"></span>
                <span class="btun"></span>
                <span class="btun"></span>
            </div>
            <div class="testimonial">
            <div class="slide-row" id="slide">
                <div class="slide-col">
                    <div class="user-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque quis non error! Ab similique nesciunt beatae minima mollitia accusantium voluptatem vel iure molestiae!</p>
                        <h3>Sarah</h3>
                        <p>Zara inc.</p>
                    </div>
                    <div class="user-img">
                        <img src="">
                    </div>
                </div>
                <div class="slide-col">
                    <div class="user-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque quis non error! Ab similique nesciunt beatae minima mollitia accusantium voluptatem vel iure molestiae!</p>
                        <h3>Sarah</h3>
                        <p>Zara inc.</p>
                    </div>
                    <div class="user-img">
                        <img src="">
                    </div>
                </div>
                <div class="slide-col">
                    <div class="user-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque quis non error! Ab similique nesciunt beatae minima mollitia accusantium voluptatem vel iure molestiae!</p>
                        <h3>Sarah</h3>
                        <p>Zara inc.</p>
                    </div>
                    <div class="user-img">
                        <img src="">
                    </div>
                </div>
                <div class="slide-col">
                    <div class="user-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet itaque quis non error! Ab similique nesciunt beatae minima mollitia accusantium voluptatem vel iure molestiae!</p>
                        <h3>Sarah</h3>
                        <p>Zara inc.</p>
                    </div>
                    <div class="user-img">
                        <img src="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
   