<section style="background: #00a6e4; margin-bottom:1rem; padding-bottom:1rem;">
<div class="container testimonials_Container mySwiper">
    <h2>Testimonials</h2>
    <div class="swiper-wrapper">
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/img/person-1.jpg" alt="pic">
            </div>
            <div class="testimonial_info">
                <h5>Diana</h5>
                <small>Student</small>
            </div>
            <div class="testimonial_body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores atque at laborum dolorum laudantium et repudiandae sit esse temporibus, cumque itaque 
                    laboriosam doloribus cupiditate tempora! Possimus quisquam sit repellendus!</p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/img/person-2.jpg" alt="pic">
            </div>
            <div class="testimonial_info">
                <h5>Diana</h5>
                <small>Student</small>
            </div>
            <div class="testimonial_body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores atque at laborum dolorum laudantium et repudiandae sit esse temporibus, cumque itaque 
                    laboriosam doloribus cupiditate tempora! Possimus quisquam sit repellendus!</p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/img/person-3.jpg" alt="pic">
            </div>
            <div class="testimonial_info">
                <h5>Diana</h5>
                <small>Student</small>
            </div>
            <div class="testimonial_body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores atque at laborum dolorum laudantium et repudiandae sit esse temporibus, cumque itaque 
                    laboriosam doloribus cupiditate tempora! Possimus quisquam sit repellendus!</p>
            </div>
        </article>
        <article class="testimonial swiper-slide">
            <div class="avatar">
                <img src="/img/person-4.jpg" alt="pic">
            </div>
            <div class="testimonial_info">
                <h5>Diana</h5>
                <small>Student</small>
            </div>
            <div class="testimonial_body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores atque at laborum dolorum laudantium et repudiandae sit esse temporibus, cumque itaque 
                    laboriosam doloribus cupiditate tempora! Possimus quisquam sit repellendus!</p>
            </div>
        </article>
    </div>
    <div class="swiper-pagination"></div>
</div>
</section>
