.c-container .heading{
    text-align: center;
    font-size: 3rem;
    padding:1rem;
    padding-top: 8rem;
    color:var(--black);
  }
  
  .c-container .heading span{
    color:var(--blue);
  }
      .post .box-container{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    
    .post .box-container .box{
      width:20rem;
      margin:2rem 2rem;
      overflow: hidden;
      border-radius: .1rem;
      box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    }
    
    .post .box-container .box img{
      height:15rem;
      width: 100%;
      object-fit: cover;
    }
    
    .post .box-container .box .content{
      padding:0 1.5rem;
      opacity: 1;
      width: 100%;
    }
    
    .post .box-container .box .content span{
      color:#666;
      font-size: 1.2rem;
      display: block;
      padding:1rem 0;
    }
    
    .post .box-container .box .content h3{
      font-size: 2rem;
      color:var(--black);
    }
    
    .post .box-container .box .content:hover h3{
      color:blueviolet;
    }
    
    .post .box-container .box .content p{
      font-size: 1.0rem;
      color:var(--black);
    }
    .box .button{
    height:2.0rem;
    width: 8rem;
    background:blueviolet;
    color:whitesmoke;
    font-size: 1.0rem;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin:1rem 0;
  }
  
 .box .button::before{
    content: '';
    position: absolute;
    top: -100%; left: 0;
    height:80%;
    width: 80%;
    background-color: var(--black);
    z-index: -1;
    transition: .2s linear;
  }
  
  .box .button:hover:before{
    top: 0%;
  }
  
  .box .button:hover{
    box-shadow: .1rem .5rem var(--blue),
                0 .3rem .5rem rgba(0,0,0,.3);
  }