*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
  line-height: 1.7;
  color:black;
  background-color: rgb(23, 23, 60);
}
section{
    padding: 6rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
.container{
    width: 80%;
    margin: 0 auto;
}

nav{
    background: transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav h3{
    font-size: 2rem;
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_menu a{
    color: black;
    font-size: 0.9rem;
    transition: all 400ms ease;
}
.nav_menu a:hover{
    color: rgb(237, 145, 199);
}
.window-scroll{
    background: rgb(48, 48, 247);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
@media (max-width:1028px){
    .container{
        width: 90%;
    }
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: white;
        cursor: pointer
    }
    nav button#close-menu-btn{
        display: none;
    }
    .nav_menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none ;
    }
    .nav_menu li{
        width: 1005;
        height: 5.8rem;
    }
    .nav_menu li a {
        background: rgb(117, 117, 240);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav_menu li a :hover{
        background: rgb(52, 52, 158);
    }
}