@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  /* line-height: 1.7; */
  color:white;
  background-color: #a9d8ea;;
  font-family: 'Montserrat', sans-serif;
 
  
}
/* section{
    padding: 5rem 0;
} */
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
/* .container{
    width: 80%;
    margin: 0 auto;
} */

nav{
    /* background:#382f6d; */
    background-color: white;
    width: 99.6vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav_container a{
    color: #f56223;
    text-decoration: none;
    font-weight:bolder;
}
.nav_container a span{
    color: #36d538;
}
nav h3{
    font-size: 2rem;
}
nav button{
    display: none;
}
nav button i{
  color: black ;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 3.5rem;
    /* margin-left: 30%; */
}
.nav_menu a{
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: all 400ms ease;
}
.nav_menu a:hover{
    color: rgb(23, 237, 73);
}
.window-scroll{
    background: #00a6e4;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/*---------- Courses--------- */
.categories{
    background: linear-gradient(180deg, #00a6e4 70%, #ffffff 60%);
}
.categories h1{
    /* line-height: 1; */
    margin-bottom: 2rem;
}
.categories_container{
   margin: 0 auto;
   width: 80%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.categories_left{
    margin-right: 4rem;
    margin-top: 15px;
}
.categories_left p{
    margin: 0.5rem 0 3rem;
}
.categories_left .btn{
    display: inline-block;
    background: white;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
    margin-bottom: 20px;
}
.categories_left .btn:hover{
    background: transparent;
    color: white;
    border-color: white;
}
.categories_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    margin: 15px 0;
}
.category{
    background: rgb(139, 207, 252);
    /* padding: 2rem; */
    border-radius: 1rem;
    transition: all 400ms ease;
    text-align: center;
    /* box-shadow: 2px 2px 10px black; */
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    z-index: 1;
}
.category .image img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.category .btn{
    margin: 20px 0;
    color: #000 !important;
    background-color:#fff;
    border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 400ms ease;
}
.category .btn:hover{
    transform: scale(1.2);
    background: transparent;
    color: white;
    border-color: white;
}
.category h5{
   margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}

@media screen and (max-width:1028px){
    .nav_container{
        width: 90%;
    }
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: white;
        cursor: pointer
    }
    nav button#close-menu-btn{
        display: none;
    }
    .nav_menu{
        position: fixed;
        top: 5rem;
        right: 0;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none ;
    }
    .nav_menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    .nav_menu li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav_menu li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav_menu li:nth-child(4){
        animation-delay: 600ms;
    }
    .nav_menu li:nth-child(5){
        animation-delay: 800ms;
    }
    .nav_menu li:nth-child(6){
        animation-delay: 1000ms;
    }
    @keyframes animateNavItems{
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }
    .nav_menu li a {
        background: rgb(117, 117, 240);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav_menu li a:hover{
        background: rgb(36, 34, 79);
    }
    .categories_left p{
      margin: 1rem 0 2rem;
    }
    .categories_right h3{
        font-size: 1rem;
    }
}
@media screen and (max-width:992px){
  .categories{
    background: linear-gradient(180deg, #00a6e4 80%, #ffffff 20%);
  }
  .categories_left p{
    margin: 1rem 0 2rem;
}
}
@media screen and (max-width:820px) {
  .categories{
    background: linear-gradient(180deg, #00a6e4 80%, #ffffff 10%);
  }
  .categories h1{
      margin-bottom: 1rem;
  }
}
@media screen and (max-width:769px){
  .categories_container{
    width: 95%;
  }
  .categories_left p{
    margin-bottom: 1rem;
}
}
@media screen and (max-width:710px){
  .categories_left{
    margin-right: 2rem;
   
}
  .categories_container{
    width: 100%;
  }
}
@media screen and (max-width:600px){
    .nav_container{
        width: 95%;
    }
    .nav_menu{
        right: 0;
    }
    .categories_container{
         display: block;
    }
    .categories_right{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category{
        /* padding: 1rem; */
        border-radius: 1rem;
    }
    
}


.about-us {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    border-top: #000;
    padding: 40px 0;
    /* margin-top: 20px; */
    background-color: #00a6e4;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about-us .left-section {
    float: left;
    width: calc(100% - 500px);
    padding-right: 11px;
}

.heading {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 24px;
    line-height: 64px;
    color: #000;
    font-weight: 700;
}

.heading span {

    font-size: 34px;
    font-weight: 800;
    color: #36d538;

}

.about-us .left-section p {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 17px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    margin: 0;
    padding: 0 0 15px 0;
    text-align: justify;
}

.about-us .right-section {
    float: right;
    width: 489px;
}

.about-us .right-section .two-block {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.about-us .right-section .two-block .counter-box {
    float: left;
    width: calc(50% - 10px);
    height: 235px;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgb(233 238 242 / 40%);
    -moz-box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
    -webkit-box-shadow: 0px 16px 32px 0px rgb(233 238 242 / 40%);
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.about-us .right-section .two-block .counter-box .icon {
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.about-us .right-section .two-block .counter-box .icon img {
    display: block;
    width: auto;
    margin: 0 auto;
}

.about-us .right-section .two-block .counter-box .cnt {
    float: left;
    width: 100%;
    padding: 0px;
    position: relative;
    z-index: 2;
}

.about-us .right-section .two-block .counter-box .cnt h2 {
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 44px;
    color: #1A76EF;
    font-weight: 700;
    margin: 0;
}

.about-us .right-section .two-block .counter-box .cnt p {
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    margin: 0;
    padding: 5px 0 0 0;
}

.about-us .right-section .two-block.three .counter-box {
    width: calc(33.333% - 10px);

}
/* login */
.modal.show .modal-dialog {
  width:max-content;
}
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    color: black;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }

  
@media  screen and (max-width:576px) {
 
  .modal.show .modal-dialog {
    margin: auto;
  }
}
@media screen and (max-width:450px){
  .center{
    width: 280px;
  }
}
  
/* login */
/* contactus */
.text-center{
    text-align: center !important;
}
.text-center .btn{
    padding: 0.375rem 0.75rem;
      font-size: medium;
  }
  .text-center .btn:hover{
    background-color: #6ba5fc;
    transition: all 400ms ease;
  }
  .col{
    padding-left: 20px;
  }
  .text-center .btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
/* contactus */
/* footer */
.links{
    text-decoration: none;
    color: white;
}
.links:hover {
    
    color: skyblue;
    text-decoration: none;
    font-size: larger;
  }

.row h5 {
    text-decoration: underline;
}

.text-center .btn {
  padding: 0.375rem 0.75rem;
  font-size: medium;
}
.btn{
  border-radius: 22px;
}
.copyright-text{
  text-decoration: none;
}
/* footer */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    
} 

 @media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media only screen and (max-width: 991px) {
.about-us .left-section {
    width: 100%;
    text-align: center;
    padding: 0;
}
}
@media only screen and (max-width: 991px) {
.about-us .right-section {
    width: 100%;
    margin-top: 10px;
}

}
@media only screen and (max-width: 475px){
.about-us .right-section .two-block .counter-box, .about-us .right-section .two-block.three .counter-box {
    width: 100%;
    margin: 5px 0;
    height: auto;
}}


.blog{
    display: flex;
    margin: 0 69px;
}
@media only screen and (max-width: 1291px){
    .imgblog{
        display: none;
    }
    .blog{
        margin: 0;
    }

}

.heading{
    margin-bottom: 0;
}
.blog-card{
    position: relative;
    height: 300px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    border-radius: 25px;
    background: rgb(243, 244, 245);
    
    box-shadow: 0px 10px 50px #627386;
  }
  .inner-part{
    position: absolute;
    display: flex;
    height: 279px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
  }
  #imgTap:checked ~ .inner-part {
    padding: 0;
    transition: .1s ease-in;
  }
  .inner-part .img{
    height: 183px;
    width: 184px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 3px 15px rgba(252,56,56,.1);
  }
  #imgTap:checked ~ .inner-part .img{
    height: 270px;
    width: 250px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
  }
  .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0;
    transition: .6s;
  }
  #tap-1:checked ~ .inner-part .img-1,
  #tap-2:checked ~ .inner-part .img-2,
  #tap-3:checked ~ .inner-part .img-3{
    opacity: 1;
    transition-delay: .2s;
  }
  .content{
    padding: 0 20px 0 35px;
    width: 60%;
    /* margin-left: 50px; */
    opacity: 0;
    transition: .6s;
  }
  #imgTap:checked ~ .inner-part .content{
    display: none;
  }
  #tap-1:checked ~ .inner-part .content-1,
  #tap-2:checked ~ .inner-part .content-2,
  #tap-3:checked ~ .inner-part .content-3{
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
  }
  .content span{
    display: block;
    color: #7b7992;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 500;
  }
  .content .title{
    font-size: 25px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 5px;
  }
  .content .text{
    color: #4e4a67;
    
    margin-bottom: 9px;
    
    text-align: justify;
  }
  .content button{
    
        display: inline-flex;
        padding: 9px 15px;
        border: none;
        font-size: 13px;
        text-transform: uppercase;
        color: #fff0e6;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
      
        border: 1px solid #24bdc9;
        background: linear-gradient(147deg, #50c3b2 0%, #1d564e 74%);
    
  }
  .content button:hover{
    background: linear-gradient(147deg,#64625f 0%, #8e8786 74%);
  }
  .sliders{
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
  }
  #imgTap:checked ~ .sliders{
    display: none;
  }
  .sliders .tap{
    position: relative;
    height: 10px;
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
  }
  .sliders .tap:hover{
    background: #cccccc;
  }
  .sliders .tap:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: linear-gradient(147deg,#64625f 0%, #8e8786 74%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
  }
  input[type="radio"],
  input[type="checkbox"]{
    display: none;
  }
  #tap-1:checked ~ .sliders .tap-1:before,
  #tap-2:checked ~ .sliders .tap-2:before,
  #tap-3:checked ~ .sliders .tap-3:before{
    transform: scaleX(1);
    width: 100%;
  }
  @media (max-width: 768px){.inner-part .img {
    display: none;
}
.content {
    padding: 0 ;
    width: 100%;
    /* margin-left: 50px; */
    opacity: 0;
    transition: .6s;
}
.sliders {
   
    bottom: 3px;
    left: 46%;
   
}
}
/* testimonial css */
.hero{
  background: #ff676d;
  height: 100vh;
  width: 100%;
  position: relative;
}
.hero h1{
  text-align: center;
  padding-top: 80px;
  font-size: 40px;
  color: #fff;
}
.slide-row{
  display: flex;
  width: 3200px;
  transition: 0.5s;
}
.slide-col{
  width: 800px;
  height: 400px;
  position: relative;
}
.user-img{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.user-img img{
  height: 100%;
  border-radius: 10px;
}
.user-text{
  background: #2d3a59;
  width: 520px;
  height: 270px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10px;
  color: #d3d4d6;
  padding: 45px;
  box-sizing: border-box;
  z-index: 2;
}
.user-text p{
  font-size: 18px;
  line-height: 24px;
}
.user-text h3{
  margin: 35px 0 5px;
  color: #fff;
}
.test-container{
  width: 800px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.indicator{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}
.btun{
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 4px;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.active{
  width: 45px;
}
.testimonial{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


   
