@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body {
  /* line-height: 1.7; */
  color:black;
  background-color: rgb(23, 23, 60);
  font-family: 'Montserrat', sans-serif;
}
section{
    padding: 5rem 0;
}
section h2{
    text-align: center;
    margin-bottom: 4rem;
}
/* .container{
    width: 80%;
    margin: 0 auto;
} */

nav{
    background:#382f6d;
    width: 99.6vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
.nav_container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.nav_container a{
    color: #36d538;
}
nav h3{
    font-size: 2rem;
}
nav button{
    display: none;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 3.5rem;
    /* margin-left: 30%; */
}
.nav_menu a{
    color: black;
    font-size: 15px;
    font-weight: 700;
    transition: all 400ms ease;
}
.nav_menu a:hover{
    color: rgb(252, 252, 252);
}
.window-scroll{
    background: rgb(28, 28, 50);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* =====hero===== */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/*---------- Courses--------- */
.categories{
    background: linear-gradient(180deg, #41377d 70%, #bebde7 60%);
    /* height: 29rem; */
}
.categories h1{
    /* line-height: 1; */
    margin-bottom: 3rem;
}
.categories_container{
    display: grid;
    grid-template-columns: 40% 60%;
}
.categories_left{
    margin-right: 4rem;
}
.categories_left p{
    margin: 1rem 0 3rem;
}
.categories_left .btn{
    display: inline-block;
    background: white;
    color: black;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    transition: all 400ms ease;
    margin-bottom: 20px;
}
.categories_left .btn:hover{
    background: transparent;
    color: white;
    border-color: white;
}
.categories_right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
}
.category{
    background: rgb(75, 75, 159);
    /* padding: 2rem; */
    border-radius: 1rem;
    transition: all 400ms ease;
    text-align: center;
    /* box-shadow: 2px 2px 10px black; */
}
.category:hover{
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.3);
    z-index: 1;
}
.category .image img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.category .btn{
    margin: 20px 0;
    background-color: rgba(43, 47, 141);
    border: 1px solid rgba(43, 47, 141);
    padding: 5px 20px;
    border-radius: 5px;
    transition: all 400ms ease;
}
.category .btn:hover{
    transform: scale(1.2);
    background: transparent;
    color: white;
    border-color: white;
}
.category h5{
   margin: 2rem 0 1rem;
}
.category p{
    font-size: 0.85rem;
}

@media screen and (max-width:1028px){
    .nav_container{
        width: 90%;
    }
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: white;
        cursor: pointer
    }
    nav button#close-menu-btn{
        display: none;
    }
    .nav_menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none ;
    }
    .nav_menu li{
        width: 100%;
        height: 5.8rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    .nav_menu li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav_menu li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav_menu li:nth-child(4){
        animation-delay: 600ms;
    }
    .nav_menu li:nth-child(5){
        animation-delay: 800ms;
    }
    .nav_menu li:nth-child(6){
        animation-delay: 1000ms;
    }
    @keyframes animateNavItems{
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;
        }
    }
    .nav_menu li a {
        background: rgb(117, 117, 240);
        box-shadow: -4rem 6rem 10rem rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav_menu li a:hover{
        background: rgb(36, 34, 79);
    }
    .categories_right h3{
        font-size: 1rem;
    }
}
@media screen and (max-width:600px){
    .nav_container{
        width: 95%;
    }
    .nav_menu{
        right: 3%;
    }
    .categories_container{
         display: block;
    }
    .categories_right{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    .category{
        /* padding: 1rem; */
        border-radius: 1rem;
    }
    
}


.about-us {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 40px 0;
    margin-top: 20px;
    background-color: transparent;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.about-us .left-section {
    float: left;
    width: calc(100% - 500px);
    padding-right: 11px;
}

.heading {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 24px;
    line-height: 64px;
    color: #000;
    font-weight: 700;
}

.heading span {

    font-size: 34px;
    font-weight: 800;
    color: #36d538;

}

.about-us .left-section p {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-size: 17px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    margin: 0;
    padding: 0 0 15px 0;
    text-align: justify;
}

.about-us .right-section {
    float: right;
    width: 489px;
}

.about-us .right-section .two-block {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.about-us .right-section .two-block .counter-box {
    float: left;
    width: calc(50% - 10px);
    height: 235px;
    background-color: #fff;
    box-shadow: 0px 16px 32px 0px rgb(233 238 242 / 40%);
    -moz-box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
    -webkit-box-shadow: 0px 16px 32px 0px rgb(233 238 242 / 40%);
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.about-us .right-section .two-block .counter-box .icon {
    float: left;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.about-us .right-section .two-block .counter-box .icon img {
    display: block;
    width: auto;
    margin: 0 auto;
}

.about-us .right-section .two-block .counter-box .cnt {
    float: left;
    width: 100%;
    padding: 0px;
    position: relative;
    z-index: 2;
}

.about-us .right-section .two-block .counter-box .cnt h2 {
    float: left;
    width: 100%;
    font-size: 36px;
    line-height: 44px;
    color: #1A76EF;
    font-weight: 700;
    margin: 0;
}

.about-us .right-section .two-block .counter-box .cnt p {
    float: left;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    margin: 0;
    padding: 5px 0 0 0;
}

.about-us .right-section .two-block.three .counter-box {
    width: calc(33.333% - 10px);

}
/* login */
body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(120deg,#2980b9, #8e44ad); */
    height: 100vh;
    overflow: hidden;
  }
  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }
  .pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }
  
/* login */
/* contactus */
.btn{
    padding: 0.375rem 7.75rem;
      font-size: medium;
  }
  .col{
    padding-left: 20px;
  }
  .btn-primary {
    color: #fff;
    background-color: skyblue;
    border-color: #0d6efd;
  }
/* contactus */
/* footer */
.links{
    text-decoration: none;
    color: white;
}
.links:hover {
    
    color: skyblue;
    text-decoration: none;
    font-size: larger;
  }

h5 {
    text-decoration: underline;
}
/* footer */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
} 

 @media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media only screen and (max-width: 991px) {
.about-us .left-section {
    width: 100%;
    text-align: center;
    padding: 0;
}
}
@media only screen and (max-width: 991px) {
.about-us .right-section {
    width: 100%;
    margin-top: 10px;
}
}
@media only screen and (max-width: 475px){
.about-us .right-section .two-block .counter-box, .about-us .right-section .two-block.three .counter-box {
    width: 100%;
    margin: 5px 0;
    height: auto;
}}
